

// FIRST SECTION STYLE //

#me {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10%;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 40px;
        font-family: "zen";
        text-shadow: 
        0 0 7px #fff,
        0 0 10px #9D00FF,
        0 0 21px #9D00FF,
        0 0 42px #9D00FF,
        0 0 82px #9D00FF,
        0 0 92px #9D00FF,
        0 0 102px #9D00FF,
        0 0 151px #9D00FF;
    }

    article {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h3 {
            text-align: center;
            text-transform: uppercase;
            color: gold;
            margin: 2rem;
            font-size: 30px;
        }

        p {
            text-align: center;
            width: 800px;
            color: white;
            font-size: 20px;
        }
    }
}


.slideSide {
    animation-name: slideSide;
    animation-duration: 1.5s;
}

@keyframes slideSide {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.revSlideSide {
    animation-name: revSlideSide;
    animation-duration: 1.5s;
}

@keyframes revSlideSide {

    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0)
    }
}


