
.box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10%;

    h2 {

        font-size: 40px;
        font-family: "zen";
        text-shadow: 
        0 0 7px #fff,
        0 0 10px #9D00FF,
        0 0 21px #9D00FF,
        0 0 42px #9D00FF,
        0 0 82px #9D00FF,
        0 0 92px #9D00FF,
        0 0 102px #9D00FF,
        0 0 151px #9D00FF;
        text-align: center;
    }

    #skillsContainer {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        
        h3 {
            color: cyan;
            font-size: 30px;
            font-family: "mont_b";
            text-transform: uppercase;
        }

        span {

            color: gold;
            font-size: 40px;
            font-family: "zen";
        }
    }

    p, li {
        color: white;
        font-size: 20px;
        text-align: center;

        .fa-html5 {

            color: #e25a25;
        }

        .fa-css3 {
            color: #1a6db1;
        }

        .fa-sass {
            color: #c36192;
        }

        .fa-js {
            color: #f7e018;
        }

        .fa-react {
            color: #5ccfee;
        }

        .fa-bootstrap {
            color: #513a75;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 4rem auto;
        overflow: hidden;     
    }
}


.slideLeft {
    animation-name: slideLeft;
    animation-duration: 1.5s;
}

.slideRight {
    animation-name: slideRight;
    animation-duration: 2s;
}

@keyframes slideRight {

    from {
        transform: translateX(-1000%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideLeft {

    from {
        transform: translateX(1000%);
    }

    to {
        transform: translateX(0)
    }
}

