#projects {

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        text-shadow: 
        0 0 7px #fff,
        0 0 10px #9D00FF,
        0 0 21px #9D00FF,
        0 0 42px #9D00FF,
        0 0 82px #9D00FF,
        0 0 92px #9D00FF,
        0 0 102px #9D00FF,
        0 0 151px #9D00FF;
    }

    #projets {

        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        h3 {
            color: gold;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 30px;
        }

        p {
            color: white;
            font-size: 20px;
        }

        #prosContainer {

            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
        }
    }
}

img {
    width: 256px;
    height: 144px;
}

img:hover {

    transform: scale(300%);
}


